server:
  port: 8080

spring:
  application:
    name: rag-backend
  servlet:
    multipart:
      enabled: true
      max-file-size: 200MB
      max-request-size: 200MB
  ai:
    ollama:
      base-url: http://localhost:11434
      # 同服务器不同docker，ollama为容器名
#      base-url: http://ollama:11434
      # 你运行的模型名称（必须与你的 Ollama pull 的模型一致）
      chat:
        options:
          model: deepseek-r1:1.5b
          temperature: 0.7
          max_tokens: 2048
      embedding:
        options:
          model: nomic-embed-text
    vectorstore:
      chroma:
        client:
          host: http://localhost
          # 同服务器不同docker，chroma为容器名
#          host: http://chroma
          port: 8000
        collection-name: rag_collection
        tenant-name: default_tenant
        database-name: default_database
        initialize-schema: true
  datasource:
    url: jdbc:mysql://localhost:3306/rag?useUnicode=true&characterEncoding=utf-8&useSSL=false
#    url: jdbc:mysql://mysql:3306/rag?useUnicode=true&characterEncoding=utf-8&useSSL=false # 同服务器不同docker，chroma为容器名
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver              # mysql驱动包
    type: com.alibaba.druid.pool.DruidDataSource            # 当前数据源操作类型
    druid:
      initial-size: 5 # 初始化连接池时，创建的连接个数
      min-idle: 5 # 连接池中的最小空闲连接数
      max-active: 20 # 连接池中允许的最大连接数
      max-wait: 60000 # 获取连接等待超时时间
      time-between-eviction-runs-millis: 60000 # 运行空闲连接检查的时间间隔
      min-evictable-idle-time-millis: 300000 # 连接空闲超时，超过该数值后，连接将被关闭
      validation-query: SELECT 1 FROM DUAL # 验证连接是否可用的 SQL 查询语句
      test-while-idle: true # 连接池中空闲连接是否进行测试
      test-on-borrow: false # 从连接池获取连接时是否进行测试
      test-on-return: false # 连接池归还连接时是否进行测试
  redis:
    redisson:
      config: |
        singleServerConfig:
          address: "redis://localhost:6379"
          database: 0
          timeout: 3000
        threads: 5
        nettyThreads: 10
# 允许前端访问（Vue 项目默认 http://localhost:5173）
cors:
  allowed-origins: "http://localhost:5173"
  allowed-methods: "*"
  allowed-headers: "*"

thread:
  pool:
    core-size: 2
    max-size: 16
    keep-alive: 600s
    queue-capacity: 500
    name-prefix: biz-task-

# 日志核心配置
logging:
  level:
    root: INFO # 全局日志级别
    com.rag.qa: DEBUG # 自定义包日志级别
    org.springframework.web: WARN
    org.springframework.ai: INFO # Spring AI 日志级别
  file:
    path: ./logs # 日志文件存储路径（生产环境建议配置为 /var/log/${spring.application.name}）
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}] [%thread] %-5level %logger{50} - %msg%n" # 控制台格式
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}] [%thread] %-5level %logger{50} - %msg%n" # 文件格式

